<div class="mes-animaux d-flex flex-wrap">
    <div class="card" *ngFor="let animal of animals">
      <a routerLink="/animal"><img class="card-img-top" [src]="animal.type === 'Dog' ? '../../assets/images/dog.jpg' : '../../assets/images/cat.jpg'" alt="{{ animal.name }}"></a>
      <div class="card-body">
        <h5 class="card-title">{{ animal.name }} <span style="color: grey; font-size:medium;">- {{ animal.id }}</span></h5>
        <p class="card-text">{{ animal.type === 'Dog' ? 'Chien' : 'Chat' }} - {{ animal.sex === 'Male' ? 'Male' : 'Femelle' }} - {{ animal.age }} {{ animal.age === 1 ? 'an' : 'ans' }}</p>
        
        <a routerLink="/animal"><button class="btn btn-primary"  (click)="set_id_animal(animal.id)">Consulter</button></a>
      </div>
    </div>
    
  </div>
    