<div class="mes-animaux d-flex flex-wrap">
    <div class="card" *ngFor="let animal of animals">
      <a routerLink="/animal"><img class="card-img-top" [src]="animal.type === 'Dog' ? '../../assets/images/dog.jpg' : '../../assets/images/cat.jpg'" alt="{{ animal.name }}"></a>
      <div class="card-body">
        <h5 class="card-title">{{ animal.name }}</h5>
        <p class="card-text">{{ animal.type === 'Dog' ? 'Chien' : 'Chat' }} - {{ animal.sex === 'Male' ? 'Male' : 'Femelle' }} - {{ animal.age }} {{ animal.age === 1 ? 'an' : 'ans' }}</p>
      </div>
    </div>
    
  </div>
  