<div class="profile-container">
    <div class="profile-card">
    <div class="wrapper">
    <div class="left">
        <img src="../../assets/images/user.jpg" alt="user" width="100">
        <h4>Foulen</h4>
         <p>Ariana</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>foulen_fouleni@gmail.com</p>
                 </div>
            </div>
            <div class="info_data">
              <div class="data">
                <h4>Phone</h4>
                 <p>98 145 912</p>
           </div>
         </div>
        </div>
      
      <div class="rdv">
            <div class="projects_data">
              <a routerLink="/mes_rdv"><button class="btn btn-primary">Mes rendez-vous</button></a>
              &nbsp;&nbsp;&nbsp;
              <a routerLink="/ajout_animal"><button class="btn btn-primary">Ajouter animal</button></a>  
            </div>
        </div>

    </div>
</div>
</div>
<app-card-animal></app-card-animal>
</div>