<div class="box">
    <h1>Ajouter un animal : </h1>
    <img src="../../assets/images/icons/pet.png" class="avatar">
    <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" novalidate>
      <div>
        <label for="name">nom :</label>
        <input class="form-control" type="text" id="name" name="name" required ngModel>
        <div *ngIf="loginForm.submitted && loginForm.controls['name'].invalid" class="error-message">Nom incorrect</div>
      </div>    
        <div>
        <label for="age">Age :</label>
        <input class="form-control" type="number" id="age" name="age" min="1" max="25" required ngModel>
        <div *ngIf="loginForm.submitted && loginForm.controls['age'].invalid" class="error-message">Age incorrect</div>
      </div>
      <div>
        <label for="weight">Poids :</label>
        <input class="form-control" type="number" id="weight" name="weight" required step="0.1" ngModel>
        <div *ngIf="loginForm.submitted && loginForm.controls['weight'].invalid" class="error-message">Poids incorrect</div>
      </div>
      <div>
        <label for="fur_length">Longueur de fourrure :</label>
        <select class="form-control" id="fur_length" name="fur_length" required ngModel>
          <option value="Short">Courts</option>
          <option value="Medium">Moyens</option>
          <option value="Long">Longs</option>
        </select>
        <div *ngIf="loginForm.submitted && loginForm.controls['fur_length'].invalid" class="error-message">Longueur de fourrure incorrect</div>
      </div>

      <div>
        <label for="type_a">Type :</label>
        <select class="form-control" id="type_a" name="type_a" required ngModel>
          <option value="Cat" selected>Chat</option>
          <option value="Dog">Chien</option>
        </select>
        <div *ngIf="loginForm.submitted && loginForm.controls['type_a'].invalid" class="error-message">Type incorrect</div>
      </div>

      <div>
        <label for="sex">Sexe :</label>
        <select class="form-control" id="sex" name="sex" required ngModel>
          <option value="male" selected>Male</option>
          <option value="female">Femelle</option>
        </select>
        <div *ngIf="loginForm.submitted && loginForm.controls['sex'].invalid" class="error-message">sexe incorrect</div>
      </div>
      <br>
      <button class="btn btn-primary" type="submit">Ajouter</button>
    </form>
  </div>
  