<div class="box" text>
    <h2>
      design de formulaire incompatible avec bootstrap.css<br>à trouver solution ou remplacer

    </h2>
</div>
<br>
<div class="container">

  <form action="/action_page.php">
    <div class="row">
      
      
      <div class="vl">
        <span class="vl-innertext">ou</span>
      </div>

      <div class="col">
        <h2 style="text-align:center">Login Utilisateur</h2>
        <img src="../../assets/images/icons/user.png" class="avatar">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <input type="submit" value="Login">
      </div>
    


    <form action="/action_page.php">
      <div class="col">
        <h2 style="text-align:center">Login Veterinaire</h2>
        <img src="../../assets/images/icons/veto.png" class="avatar">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        <input type="password" name="password   " placeholder="Mot de passe" required>
        <input type="submit" value="Login">
      </div>
      
  </form>
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Creer compte utilisateur</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Creer compte veterinaire</a>
    </div>
  </div>
</div>
