.left-button {
  display: inline-block;
  background-color: mediumslateblue;
  color: white;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
}
.right-button {
  display: inline-block;
  background-color:mediumseagreen;
  color: white;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 10px;
  text-decoration: none; 
}

.box{
  height: 500px;
}