  <div class="box">
    <br><br><br><br>
    <a routerLink="/loginu">
      <div class="left-button">
        <img src="../../assets/images/icons/user.png" class="avatar">
        <div>Se connecter en tant qu'utilisateur</div>
      </div>
      </a>

      <div>
        <span>ou</span>
      </div>

      <a routerLink="/loginv">
        <div class="right-button">
          <img src="../../assets/images/icons/veto.png" class="avatar">
          <div>Se connecter en tant que Veterinaire</div>
        </div>
        </a>
      
  </div>
