<div class="mes-r d-flex flex-wrap">
    <div class="card" *ngFor="let r of rdv">
      <img src="../../assets/images/cabinet.jpg" height="100px">
      <div class="card-body">
        <h5 class="card-title">Le {{ r.date }} <button class="btn btn-primary" (click)="modifier_date()">Modifier date</button>&nbsp;<button class="btn btn-primary btn-danger">X</button></h5>
        <form *ngIf=m_date novalidate>
          <div>
            <input class="form-control" type="date" id="date" name="date" type="date" ngModel>
          </div>
          <button class="btn btn-primary" (click)="confirmer()">Confirmer</button>
        </form>
        <p class="card-text nom-animal"><a routerLink="/carnet">{{ r.animalName }}</a></p>
        &nbsp;
        <p class="card-text">chez</p>
        &nbsp;
        <p class="card-text nom-veto"><a routerLink="/evaluer">{{ r.vetoName }}</a></p>
      </div>
    </div>
  </div>
  