<div class="box">
  <div  *ngIf=!fil>
  <button class="btn btn-primary" (click)="filtrer()">Filtrer <br> <img src="../../assets/images/icons/filter.png" height="15px" width="15px"></button>
  <br><br><br>
</div>
  <div *ngIf=fil>
  <h1>Rechercher vos rendez-vous : </h1>
  <form #loginForm="ngForm" (ngSubmit)="recherche_rdv()" novalidate>
  <div>
    <input class="form-control" type="text" id="name" name="name" placeholder="Nom animal" ngModel>
  </div>
  <div>
    <input class="form-control" type="number" id="code" name="code" placeholder="Code animal" ngModel>
  </div>
  <div>
    <input class="form-control" type="text" id="description" name="description" placeholder="description" ngModel>
  </div>

  <br>
  <button class="btn btn-primary" type="submit">Rechercher</button>
</form>
</div>

<div class="mes-r d-flex flex-wrap" *ngIf="rdv.length > 0">
    <div class="card" *ngFor="let r of rdv">
      <img src="../../assets/images/cabinet.jpg" height="100px">
      <div class="card-body">
        <h5 class="card-title">Le {{ r.date }} <button class="btn btn-primary" (click)="modifier_date()">Modifier date</button>&nbsp;
          <button class="btn btn-primary btn-danger" (click)="supprimer(r.id,r.id_veto,r.date)">X</button>
        </h5>
        <form *ngIf=m_date novalidate>
          <div>
            <input class="form-control" type="date" id="date" name="date" type="date" ngModel>
          </div>
          <button class="btn btn-primary" (click)="confirmer()">Confirmer</button>
        </form>
        
        <p class="card-text nom-animal">{{ r.animalName }}  <a routerLink="/carnet"><button class="btn btn-primary" (click)="set_id_animal(r.id)">({{ r.id }})</button></a></p>
        
        <br>
        <div class="box">
        <p class="card-text nom-veto">{{ r.description }}</p>
      </div>
      </div>
    </div>
  </div>
  <div *ngIf="rdv.length == 0">
    <p>Rendez-vous pas trouvé</p>
  </div>
</div>