<div class="profile-container">
    <div class="profile-card">
    <div class="wrapper">
    <div class="left">
        <img [src]="animal.type === 'Dog' ? '../../assets/images/dog.jpg' : '../../assets/images/cat.jpg'" alt="{{ animal.name }}" alt="user" width="100">
        <h4>{{ animal.name }}</h4>
        <p style="font-weight: bold;">Code : {{ animal.id }}</p>
        <a routerLink="/profil"><button class="btn btn-primary">Foulen</button></a>
    </div>
    <div class="right">
      <div class="info">
        <div class="box">
          <h1>Modifier : </h1>
          <img src="../../assets/images/icons/pet.png" class="avatar">
          <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" novalidate>
            <div>
              <label for="name">nom :</label>
              <input class="form-control" [placeholder]=animal.name type="text" id="name" name="name" required ngModel>
            </div>    
              <div>
              <label for="age">Age :</label>
              <input class="form-control" [placeholder]=animal.age type="number" id="age" name="age" min="1" max="25" required ngModel>
            </div>
            <div>
              <label for="weight">Poids :</label>
              <input class="form-control" [placeholder]=animal.weight type="number" id="weight" name="weight" required step="0.01" ngModel>
            </div>
            <div>
              <label for="fur_length">Longueur de fourrure :</label>
              <select class="form-control" id="fur_length" name="fur_length" required ngModel>
                <option value="Short" selected>Courts</option>
                <option value="Medium">Moyens</option>
                <option value="Long">Longs</option>
              </select>
            </div>
      
            <div>
              <label for="type_a">Type :</label>
              <select class="form-control" id="type_a" name="type_a" required ngModel>
                <option value="Cat" selected>Chat</option>
                <option value="Dog">Chien</option>
              </select>
            </div>
      
            <div>
              <label for="sex">Sexe :</label>
              <select class="form-control" id="sex" name="sex" required ngModel>
                <option value="male" selected>Male</option>
                <option value="female">Femelle</option>
              </select>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Modifer</button>
            <br>
            <a routerLink="/profil"><button class="btn btn-primary btn-danger" (click)="set_id_animal(234)">Supprimer profil</button></a>
          </form>
        </div>
      </div>
    </div>
    </div>
</div>
</div>
