<div class="container">
    <div class="box" text>

      <img src="../../assets/images/icons/tel.png" height="50px" widht="50px"> 
      <h3>Telephone : <a href="tel:98123456">98 123 456</a></h3>
      <br>
      <img src="../../assets/images/icons/map-marker.png" height="50px" widht="50px"> 
      <h3><a href="https://goo.gl/maps/NwqnFe4NUsCLT8re8">Adresse de la faculté</a> </h3>
      <br>
      <img src="../../assets/images/icons/web.png" height="50px" widht="50px"> 
      <h3><a href="http://www.istic.rnu.tn/en/">Site web de la faculté</a></h3>
      <br>
</div>
</div>