<div class="box">
    <div  *ngIf=!fil>
    <button class="btn btn-primary" (click)="filtrer()">Filtrer <br> <img src="../../assets/images/icons/filter.png" height="15px" width="15px"></button>
    <br><br><br>
  </div>
    <div *ngIf=fil>
    <h1>Rechercher vos rendez-vous : </h1>
    <form #loginForm="ngForm" (ngSubmit)="recherche_rdv()" novalidate>
    <div>
      <input class="form-control" type="text" id="name" name="name" placeholder="Nom animal" ngModel>
    </div>
    <div>
      <input class="form-control" type="number" id="code" name="code" placeholder="Code animal" ngModel>
    </div>
    <div>
      <input class="form-control" type="text" id="description" name="description" placeholder="description" ngModel>
    </div>
    <div>
        <input class="form-control" type="text" id="veto_name" name="veto_name" placeholder="Nom du veterinaire" ngModel>
      </div>
  
    <br>
    <button class="btn btn-primary" type="submit">Rechercher</button>
  </form>
  </div>
  
  <div class="mes-r d-flex flex-wrap">
      <div class="card" *ngFor="let r of rdv">
        <img src="../../assets/images/cabinet.jpg" height="100px">
        <div class="card-body">
          <h5 class="card-title">Le {{ r.date }}
          </h5>
          <p class="card-text nom-animal">{{ r.animalName }}<a routerLink="/animal">({{ r.id }})</a></p>
          &nbsp;
          <p class="card-text">chez</p>
          &nbsp;
          <p class="card-text nom-veto"><a routerLink="/evaluer">{{ r.vetoName }}</a></p>
          <br>
          <div class="box">
          <p class="card-text nom-veto">{{ r.description }}</p>
        </div>
        </div>
      </div>
    </div>
  </div>