<div class="box">
    
  
  <div class="mes-r d-flex flex-wrap">
      <div class="card" *ngFor="let r of rdv">
        <img src="../../assets/images/cabinet.jpg" height="100px">
        <div class="card-body">
          <h5 class="card-title">Le {{ r.date }}
          </h5>
          <p class="card-text nom-animal">{{ r.animalName }}<a routerLink="/animal">({{ r.id }})</a></p>
          &nbsp;
          <p class="card-text">chez</p>
          &nbsp;
          <p class="card-text nom-veto"><a routerLink="/evaluer">{{ r.vetoName }}</a></p>
          <br>
          <div class="box">
          <p class="card-text nom-veto">{{ r.description }}</p>
        </div>
        </div>
      </div>
    </div>
  </div>