<div class="profile-container">
    <div class="profile-card">
    <div class="wrapper">
    <div class="left">
        <img src="../../assets/images/veto.jpg" alt="user" width="100">
        <h4>Dr. Foulen</h4>
         <p>Jendouba</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>foulen_fouleni@gmail.com</p>
                 </div>
            </div>
            <div class="info_data">
              <div class="data">
                <h4>Telephone</h4>
                 <p>98 145 912</p>
           </div>
         </div>
        </div>
      

    </div>
</div>
</div>
</div>