    <div class="profile-container">
        <div class="profile-card">
        <div class="wrapper">
        <div class="left">
          <img class="card-img-top" [src]="veto.sex === 'M' ? '../../assets/images/vetom.jpeg' : '../../assets/images/veto.jpg'" alt="{{ veto.name }}">
            <h4>Dr. {{ veto.name }} {{ veto.last_name }}</h4>
            <p>{{ veto.gouvernorate }}</p>
            <p>{{ veto.address }}</p>
        </div>
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                     <div class="data">
                        <h4>Email</h4>
                        <p>foulen_fouleni@gmail.com</p>
                     </div>
                </div>
                <div class="info_data">
                  <div class="data">
                    <h4>Telephone</h4>
                     <p>98 145 912</p>
               </div>
             </div>
            </div>
            <div class="box d-flex flex-wrap">
                    <img *ngFor="let item of [1,2,3,];" src="../../assets/images/star.png" height="40px" width="40px">
                    <img *ngFor="let item of [1,2];" src="../../assets/images/star_perdu.png" height="40px" width="40px">
            </div>
        </div>
    </div>
    </div>


<div class="box">
  <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" novalidate>
    <div>
      <label for="score">Score :</label>
      <select class="form-control" id="score" name="score" ngModel>
        <option value=1>1 etoile</option>
        <option value=2>2 etoiles</option>
        <option value=3>3 etoiles</option>
        <option value=4>4 etoiles</option>
        <option value=5>5 etoiles</option>
      </select>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Modifer</button>
  </form>
</div>
</div>
<br><br><br><br><br><br><br><br>