<div class="box">
  <h1>Inscription Utilisateur : </h1>
  <img src="../../assets/images/icons/user.png" class="avatar">
  <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" novalidate>
    <div>
      <label for="name">Prenom :</label>
      <input class="form-control" type="text" id="name" name="name" required ngModel>
      <div *ngIf="loginForm.submitted && loginForm.controls['name'].invalid" class="error-message">Prenom incorrect</div>
    </div>
    <div>
      <label for="last_name">Nom:</label>
      <input class="form-control" type="text" id="last_name" name="last_name" required  ngModel>
      <div *ngIf="loginForm.submitted && loginForm.controls['last_name'].invalid" class="error-message">Nom incorrect</div>
    </div>
    <div>
      <label for="email">Email :</label>
      <input class="form-control" type="email" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel>
      <div *ngIf="loginForm.submitted && loginForm.controls['email'].invalid" class="error-message">Email incorrect</div>
    </div>
    <div>
      <label for="password">Mot de passe :</label>
      <input class="form-control" type="password" id="password" name="password" required ngModel>
      <div *ngIf="loginForm.submitted && loginForm.controls['password'].invalid" class="error-message">Mot de passe incorrect</div>
    </div>
    <div>
      <label for="telephone">Telephone:</label>
      <input class="form-control" type="tel" id="telephone" name="telephone" required pattern="\d{8}" ngModel>
      <div *ngIf="loginForm.submitted && loginForm.controls['telephone'].invalid" class="error-message">Telephone incorrect</div>
    </div>
    <div>
      <label for="sex">Sexe :</label>
      <select class="form-control" id="sex" name="sex" required ngModel>
        <option value="male" selected>Homme</option>
        <option value="female">Femme</option>
      </select>
      <div *ngIf="loginForm.submitted && loginForm.controls['sex'].invalid" class="error-message">sexe incorrect</div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">S'inscrire</button>
  </form>
</div>
