<div class="container">
  <div class="box">
    <h2>
      Ce site web est en cours de construction 🚧 <div style="color:red">toutes les informations sont extraites puis manipules de Jsons locaux et non de la base de données, les fonctions pour ajouter des données ne sont pas encore completement implémentées</div>
    </h2>

  </div>
    <div class="box">
        <h1>
            Bienvenue sur notre site Web pour les vétérinaires et les amoureux des animaux! 
    
        </h1>
        <h2>
            Nous offrons aux propriétaires d'animaux un accès facile à une équipe de vétérinaires expérimentés qui se consacrent à fournir des soins de la plus haute qualité aux membres de votre famille à fourrure.
            Que vous ayez besoin de soins préventifs de routine, d'un traitement pour une maladie ou une blessure, ou de conseils sur la nutrition et le comportement, nous sommes là pour vous aider.
            Nous comprenons que vos animaux de compagnie sont une partie importante de votre famille et nous nous efforçons de fournir des soins compatissants pour assurer leur santé et leur bonheur. 
    
        </h2>
      </div>
      <app-recherche></app-recherche>
    
      <div class="box">
        <h3>
      Explorez notre site Web pour en savoir plus sur nos services, voir nos produits liés aux animaux de compagnie et accéder à des ressources utiles.
      Merci de nous avoir choisis comme partenaire de confiance pour la santé et le bien-être de votre animal
    </h3>
    </div>

</div>