<div class="container">
  <div class="box">
    <h2>
      Ce site web est en cours de construction 🚧
      <div style="color: green">
        toutes les informations sont extraites puis manipules de Jsons locaux et
        non de la base de données, les fonctions pour ajouter des données ne
        sont pas encore completement implémentées
      </div>
      il est necessaire d'executer <div style="color: blue">"json-server --watch db.json --port 3005"</div> pour la manipulation des donnees et de la base de donnees
    </h2>
  </div>
  <div class="box">
    <h1>
      Bienvenue sur notre site Web pour les vétérinaires et les amoureux des
      animaux!
    </h1>
    <h2>
      Nous sommes ravis de vous accueillir sur notre plateforme en ligne dédiée
      à la santé et au bien-être de votre animal de compagnie. Notre mission est
      de vous aider à organiser et à faciliter l'accès aux informations de votre
      animal, ainsi que de gérer ses rendez-vous chez le vétérinaire en toute
      simplicité. Grâce à notre site, vous pouvez trouver des vétérinaires
      qualifiés et compétents dans toute la Tunisie, à tout moment. Nous vous
      invitons à explorer notre site pour découvrir l'ensemble des services que
      nous offrons et à nous faire confiance.
    </h2>
  </div>
  <app-recherche></app-recherche>
</div>
